.explain-section_HealthCheckup {
  text-align: center;
  padding: 80px 20px;
  background: #f4f6fb;
}

/* IMAGE */
.image-box_HealthCheckup {
  position: relative;
  width: 600px;
  height: 600px;
  margin: auto;
}

.image-box_HealthCheckup img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* POINT */
.point_HealthCheckup {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

/* DOT */
.dot11_HealthCheckup {
  width: 12px;
  height: 12px;
  background: red;
  border-radius: 50%;
}

/* CARD */
.card_HealthCheckup {
  position: absolute;
  top: -60px; /* above dot */
  left: 50%;
  transform: translateX(-50%);

  background: white;
  padding: 10px 14px;
  border-radius: 10px;
  min-width: 150px;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

/* POINTER */
.card_HealthCheckup::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);

  width: 10px;
  height: 10px;
  background: white;
}

/* TEXT */
.card_HealthCheckup h4 {
  margin: 0;
  font-size: 14px;
}

.card_HealthCheckup p {
  margin: 4px 0 0;
  font-size: 12px;
  color: #555;
}
